.social_icons a{
    font-size: 28px;
    margin: 15px 3px;
    color: #000;
}

.menu_items a{
    font-size: 18px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.line{
    height: 5px;
    margin: 10px 0;
    background: #000;
}

.login_iconsDesign{
    display: flex;
    justify-content: space-around;
    font-size: 40px;
    background-color: #1677ff;
    color: #fff;
    padding: 10px 0px;
    border: 0;
    border-radius: 10px;
    text-align: center;
    margin: 10px 0;
}

